* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #5cb85f;
  --color-lightblue: #359fd0;
  --color-bg1: #000000;
  --color-bg2: #19557a;
  --transition: all 400ms ease;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  background: var(--color-bg1);
}

h1,
h2,
h3,
h4,
p,
a {
  color: black;
}

.h2 {
  word-wrap: normal;
  line-height: 1.5rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* ========== main css ============= */

/* navbar */

.toggle {
  display: none;
  margin: 0px 20px;
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightblue);
  padding: 10px 0;
}

.navbar-item {
  margin: 0px 20px;
}

/* ! =================== MODAL CSS =================== */

button#myBtn {
  padding: 14px;
  border-radius: 10px;
  transform: rotate(6deg);
  transition: var(--transition);
  background-color: black;
  animation: myOn 1.5s linear infinite;
  font-weight: 1000;
  font-size: 20px;
}

@keyframes myOn {
  50% {
    color: white;
    font-weight: 1000;
  }
}

button#myBtn:hover {
  transition: var(--transition);
  transform: rotate(0deg);
  background-color: var(--color-primary);
  color: white;
  font-weight: 1000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: solid 10px #dda1dd;
}

.modal-header h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 4, 4);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: plum;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  border: solid 2px black;
}

.modal-footer {
  padding: 2px 16px;
  background-color: plum;
  color: white;
}

/* ? ================================ Modal Form CSS ========================= */

/* Full-width input fields */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="email"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
.form-a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* ! =================== END MODAL CSS =================== */

.navbar-link {
  font-weight: bolder;
  margin-right: auto;
  font-size: large;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10%;
}

.navbar-link:hover {
  color: white;
  background: var(--color-primary);
  border: solid 1px var(--color-primary);
}

.navbar-button {
  border: 1px solid transparent;
  display: inline-block;
  background: var(--color-lightblue);
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
}

.navbar-button {
  border: 1px solid transparent;
  color: black;
  animation: myOn 1.5s infinite;
  display: inline-block;
  background: black;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  font-size: large;
  transition: var(--transition);
  transform: rotate(8deg);
}

.navbar-button:hover {
  background: var(--color-primary);
  transform: rotate(0deg);
  color: white;
  transition: var(--transition);
}

.logo {
  font-size: 3rem;
  font-weight: 1000;
  margin-left: 50px;
  margin-right: auto;
}

.logo-tex {
  color: rgb(222, 169, 35);
  transition: var(--transition);
  background-color: black;
  border-radius: 20px;
  animation: myTx 1s linear infinite;
}

@keyframes myTx {
  50% {
    color: rgb(233, 70, 70);
    filter: brightness(1);
  }
}

@media screen and (max-width: 1024px) {
  .navbar-button {
    transform: rotate(8deg);
    transition: var(--transition);
  }

  .navbar-button:hover {
    transform: rotate(0deg);
    transition: var(--transition);
  }

  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .toggle {
    display: block;
    width: 40px;
  }

  .navbar-item {
    display: none;
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  .active {
    display: block;
  }

  .navbar-button {
    transform: rotate(0deg);
  }

  .container {
    width: 95%;
  }

  button#myBtn {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 425px) {
  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
  }

  .navbar-link .logo {
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: auto;
  }

  .navbar-link {
    display: grid;
    justify-items: center;
  }

  .toggle {
    display: block;
    width: 50px;
    height: 55px;
  }

  .navbar-item {
    display: none;
    width: 100%;
    text-align: center;
    margin: 15px;
  }

  .active {
    display: block;
  }

  .logo {
    margin: 0 30px;
  }

  .logo-tex {
    color: rgb(222, 169, 35);
    transition: var(--transition);
    background-color: black;
    border-radius: 20px;
  }

  .navbar-button {
    transform: rotate(0deg);
  }

  .container {
    width: 95%;
  }

  .navbar-Modal {
    margin: 0 20px;
    display: none;
  }

  button#myBtn {
    transform: rotate(0deg);
  }

  input[type="text"],
  input[type="email"] {
    width: 80%;
  }
}

/* =============== END NAVBAR =============== */

/* ! ================= Header ================= */

.header {
  height: 90vh;
}

.header-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  transform: scale(0.6);
  margin: 150px 130px;
  line-height: 1.6rem;
  border-radius: 15px;
  transition: var(--transition);
  filter: brightness(0.7);
  width: 80%;
  align-items: center;
}

.header-bg {
  background-image: url(/kool/ijrfsf.gif);
}

.kontak {
  padding: 0 165px;
}

.name-title h2 {
  color: white;
}

.header-perken {
  color: white;
}

.ane {
  width: 70%;
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 85px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  transition: var(--transition);
  transform: scale(0.6);
}

.ane:hover {
  transform: scale(1.2);
  border-radius: 20%;
}

.header-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  transform: scale(0.6);
  margin: 150px 130px;
  line-height: 1.6rem;
  border-radius: 15px;
  transition: var(--transition);
  filter: brightness(0.6);
  width: 80%;
  align-items: center;
}

.header-row:hover {
  transform: scale(0.8);
  filter: brightness(1.4);
}

.name-title h2 {
  margin-bottom: 50px;
  transition: var(--transition);
  font-weight: 600;
  font-size: 70px;
}

header p,
h2 {
  font-weight: bold;
  font-size: large;
  color: var(--color-bg1);
}

.link-img {
  display: flex;
}

.header-img {
  width: 7%;
  height: 7%;
  border: 0;
  border-radius: 20px;
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}

.header-img img {
  transition: var(--transition);
  transform: scale(1);
  filter: opacity(0.8);
}

.header-img img:hover {
  transform: scale(1.8);
  filter: brightness(2);
  filter: opacity(1);
}

.ane {
  width: 50%;
  height: 30%;
}

/* ? ================= Responsive ================= */

/* TODO Ini Responsive Header */

/* todo =================== Responsive screen 1 ====================== */
@media screen and (max-width: 1024px) {
  .header-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    transform: scale(0.5);
    margin: 130px 90px;
    line-height: 1.6rem;
    border-radius: 15px;
    transition: var(--transition);
    filter: brightness(0.6);
    width: 80%;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .link-img {
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
  }

  .header-perken {
    margin: 10px;
  }

  .right-img {
    width: auto;
  }

  .header-img img {
    transform: scale(1.5);
    width: 30px;
    height: 30px;
  }

  .header-img img:hover {
    transform: scale(1.8);
    filter: brightness(2);
    filter: opacity(1);
  }

  .ane {
    width: 100%;
    height: 100%;
  }

  .left-img {
    display: flex;
    justify-content: center;
  }

  .ane:hover {
    transform: scale(1.3);
    filter: brightness(2);
    filter: opacity(1);
  }

  .name-title h2 {
    font-size: 50px;
  }

  .kontak {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

/* todo =================== Responsive screen 2 ====================== */
@media screen and (max-width: 768px) {
  .header-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    transform: scale(0.5);
    margin: 130px 90px;
    line-height: 1.6rem;
    border-radius: 15px;
    transition: var(--transition);
    filter: brightness(0.6);
    width: 80%;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .link-img {
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
  }

  .right-img {
    width: auto;
  }

  .header-img img {
    transform: scale(1.6);
    width: 30px;
    height: 30px;
  }

  .ane {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
  }

  .left-img {
    display: flex;
    justify-content: center;
  }

  .ane:hover {
    transform: scale(1.8);
    filter: brightness(2);
    filter: opacity(1);
  }

  .name-title h2 {
    font-size: 50px;
  }

  .kontak {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

/* todo =================== Responsive screen 3 ====================== */
@media screen and (max-width: 425px) {
  .header-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 7rem;
    align-items: center;
    transform: scale(0.4);
    margin: 130px 90px;
    line-height: 1.6rem;
    border-radius: 15px;
    transition: var(--transition);
    filter: brightness(0.6);
    width: 80%;
    align-items: center;
  }

  .header-row:hover {
    transform: scale(0.6);
    filter: brightness(1.4);
  }

  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .link-img {
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
  }

  .right-img {
    width: auto;
  }

  .header-img img {
    transform: scale(2);
    width: 30px;
    height: 30px;
  }

  .ane {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: scale(0.7);
  }

  .left-img {
    display: flex;
    justify-content: center;
  }

  .ane:hover {
    transform: scale(1);
    filter: brightness(2);
    filter: opacity(1);
    border-radius: 0;
  }

  .header-perken {
    text-align: center;
  }

  .name-title h2 {
    font-size: 50px;
    text-align: center;
  }

  .kontak {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .header-img {
    transform: scale(1);
    transition: var(--transition);
  }

  .header-img:hover {
    transform: scale(1.4);
    transition: var(--transition);
  }
}

/* ? ================= End Responsive ================= */

/* ================= End Header ================= */

/* ! ================= My School ================= */

.containerr {
  height: 80vh;
}

.school {
  margin-top: 50px;
}

.sekolah-section {
  width: auto;
  background-color: var(--color-bg1);
}

.sekolah-title p {
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 25px;
}

.sekolah-title h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

.sekolah-img {
  display: flex;
  margin: auto;
  height: 40%;
  width: 40%;
  transform: scale(0.6);
  transition: var(--transition);
}

.sekolah-img:hover {
  transform: scale(1);
  transition: var(--transition);
  filter: brightness(100%);
  box-shadow: 0 0 80px #ff0000, 0 0 80px #0901ff, 0 0 80px #ff0000,
    0 0 80px #0901ff;
}

.isi-sekolah p {
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 25px;
}

.link-idn {
  color: rgb(65, 201, 225);
  text-decoration: none;
}

.link-idn:hover {
  color: greenyellow;
}

/* ? ================= Responsive ================= */

/* TODO Ini Responsive MySchool */

/* todo =================== Responsive screen 1 ====================== */
@media screen and (max-width: 1024px) {
  .containerr {
    height: 100vh;
  }

  .school {
    margin-top: 100px;
  }

  .isi-sekolah {
    padding-top: 70px;
    color: white;
    text-align: center;
  }

  .sekolah-img {
    display: flex;
    margin: auto;
    height: 50%;
    width: 50%;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .sekolah-title h1 {
    font-size: 80px;
    color: white;
    text-align: center;
  }

  .sekolah-title p {
    font-style: italic;
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .isi-sekolah p {
    color: white;
    text-align: center;
    font-size: 25px;
    transition: var(--transition);
  }

  .sekolah-img:hover {
    transform: scale(1.1);
    transition: var(--transition);
    filter: brightness(100%);
    box-shadow: 0 0 80px #ff0000, 0 0 80px #0901ff, 0 0 80px #ff0000,
      0 0 80px #0901ff;
  }
}

/* todo =================== Responsive screen 2 ====================== */
@media screen and (max-width: 768px) {
  .containerr {
    height: 100vh;
  }

  .school {
    margin-top: 100px;
  }

  .isi-sekolah {
    padding-top: 70px;
    color: white;
    text-align: center;
  }

  .sekolah-img {
    display: flex;
    margin: auto;
    height: 50%;
    width: 50%;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .sekolah-title h1 {
    font-size: 80px;
    color: white;
    text-align: center;
  }

  .sekolah-title p {
    font-style: italic;
    font-size: 15px;
    color: white;
    text-align: center;
  }

  .isi-sekolah p {
    color: white;
    text-align: center;
    font-size: 20px;
    transition: var(--transition);
  }

  .sekolah-img:hover {
    transform: scale(1.2);
    transition: var(--transition);
    filter: brightness(100%);
    box-shadow: 0 0 80px #ff0000, 0 0 80px #0901ff, 0 0 80px #ff0000,
      0 0 80px #0901ff;
  }
}

/* todo =================== Responsive screen 3 ====================== */
@media screen and (max-width: 425px) {
  .containerr {
    height: 100vh;
  }

  .school {
    margin-top: 100px;
  }

  .isi-sekolah {
    padding-top: 70px;
    color: white;
    text-align: center;
  }

  .sekolah-img {
    display: flex;
    margin: auto;
    height: 50%;
    width: 50%;
    transform: scale(1);
    transition: var(--transition);
  }

  .sekolah-title h1 {
    font-size: 65px;
    color: white;
    text-align: center;
  }

  .sekolah-title p {
    font-style: italic;
    font-size: 15px;
    color: white;
    text-align: center;
  }

  .isi-sekolah p {
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .sekolah-img:hover {
    transform: scale(1.6);
    transition: var(--transition);
    filter: brightness(100%);
    box-shadow: 0 0 60px #ff0000, 0 0 60px #0901ff, 0 0 60px #ff0000,
      0 0 60px #0901ff;
  }
}

/* ? ================= End Responsive ================= */

/* ================= End My School ================= */

/* ! ================= My Certificate ================= */

.sertif {
  padding-top: 20px;
  background-color: var(--color-bg1);
  height: 260vh;
}

.figma-im {
  margin-bottom: 30px;
}

.sertif-title h1 {
  color: white;
  text-align: center;
  font-size: 80px;
}

.sertif-title p {
  color: white;
  font-style: italic;
  text-align: center;
}

.sertif-title {
  padding-bottom: 30px;
}

.immg-row {
  width: 45%;
  height: 30%;
  transition: var(--transition);
  position: relative;
  height: auto;
  transform: scale(1);
  transition: var(--transition);
}

.immg-row:hover {
  transform: scale(2.2);
  transition: var(--transition);
}

/* ? ini buat yang dikiri */
.immg-roww {
  width: 45%;
  height: 300px;
  transition: var(--transition);
  position: relative;
  height: auto;
  transform: scale(1);
}

.immg-roww:hover {
  transform: scale(2.2);
  transition: var(--transition);
}

.serti-font h1 {
  color: white;
  font-size: 20px;
}

.serti-font {
  display: flex;
  align-items: center;
}

.colap {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapsible {
  background-color: var(--color-lightblue);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  border: none;
  outline: none;
  font-size: 15px;
  position: relative;
  top: 50px;
  transition: var(--transition);
}

.collapsible:hover {
  background-color: var(--color-primary);
  transition: 200ms ease-in-out;
}

.contenttt {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 55%;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}

.contenttt a {
  color: blue;
  text-decoration: dashed;
  font-size: 20px;
  font-weight: 1000;
}

/* * ================= Coursera right 1 ================= */

.coursera-right {
  background-color: #254797;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 100px;
  align-items: center;
  transform: scale(0.6);
  transition: var(--transition);
}

.coursera-right:hover {
  transform: scale(1);
  transition: var(--transition);
  padding: 0 200px;
  background-color: black;
  border-radius: 25px;
}

/* * ================= Dicoding left 2 ================= */
.Left-1 {
  background-color: #254797;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 100px;
  align-items: center;
  transform: scale(0.6);
  transition: var(--transition);
}

.Left-1:hover {
  transform: scale(1);
  transition: var(--transition);
  padding: 0 250px;
  background-color: black;
  border-radius: 25px;
}

/* * ================= Dicoding right 3 ================= */
.right-2 {
  background-color: #254797;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 100px;
  align-items: center;
  transform: scale(0.6);
  transition: var(--transition);
}

.right-2:hover {
  transform: scale(1);
  transition: var(--transition);
  padding: 0 250px;
  background-color: black;
  border-radius: 25px;
}

/* * ================= Dicoding left 4 ================= */
.left-3 {
  background-color: #254797;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 100px;
  align-items: center;
  transform: scale(0.6);
  transition: var(--transition);
}

.left-3:hover {
  transform: scale(1);
  transition: var(--transition);
  padding: 0 200px;
  background-color: black;
  border-radius: 25px;
}

/* * ================= Dicoding right 5 ================= */
.right-4 {
  background-color: #254797;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 100px;
  align-items: center;
  transform: scale(0.6);
  transition: var(--transition);
}

.right-4:hover {
  transform: scale(1);
  transition: var(--transition);
  padding: 0 200px;
  background-color: black;
  border-radius: 25px;
}

/* ? ================= Responsive ================= */

/* TODO Ini Responsive My Certificate */

@media screen and (max-width: 1024px) {
  .sertif {
    padding-top: 20px;
    background-color: var(--color-bg1);
    height: 200vh;
  }

  .sertif-title h1 {
    color: white;
    text-align: center;
    font-size: 80px;
  }

  .sertif-title p {
    color: white;
    font-style: italic;
    text-align: center;
  }

  .sertif-title {
    padding-bottom: 30px;
  }

  .sertif-content {
    height: 70vh;
  }

  .immg-row {
    width: 45%;
    height: 30%;
    transition: var(--transition);
    position: relative;
    height: auto;
    transform: scale(1.1);
    transition: var(--transition);
  }

  .immg-row:hover {
    transform: scale(2.3);
    transition: var(--transition);
  }

  /* ? ini buat yang dikiri */
  .immg-roww {
    width: 45%;
    height: 300px;
    transition: var(--transition);
    position: relative;
    height: auto;
    transform: scale(1.1);
  }

  .immg-roww:hover {
    transform: scale(2.3);
    transition: var(--transition);
  }

  .serti-font h1 {
    color: white;
    font-size: 20px;
  }

  .serti-font {
    display: flex;
    align-items: center;
  }

  /* * ================= Coursera right 1 ================= */

  .coursera-right {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .coursera-right:hover {
    transform: scale(1);
    transition: var(--transition);
    padding: 0 200px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding left 2 ================= */
  .Left-1 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .Left-1:hover {
    transform: scale(1);
    transition: var(--transition);
    padding: 0 200px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding right 3 ================= */
  .right-2 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .right-2:hover {
    transform: scale(1);
    transition: var(--transition);
    padding: 0 200px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding left 4 ================= */
  .left-3 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .left-3:hover {
    transform: scale(1);
    transition: var(--transition);
    padding: 0 200px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding right 5 ================= */
  .right-4 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .right-4:hover {
    transform: scale(1);
    transition: var(--transition);
    padding: 0 200px;
    background-color: black;
    border-radius: 25px;
  }
}

@media screen and (max-width: 768px) {
  .sertif {
    padding-top: 20px;
    background-color: var(--color-bg1);
    height: 260vh;
  }

  .sertif-title h1 {
    color: white;
    text-align: center;
    font-size: 80px;
  }

  .sertif-title p {
    color: white;
    font-style: italic;
    text-align: center;
  }

  .sertif-title {
    padding-bottom: 30px;
  }

  .sertif-content {
    height: 70vh;
  }

  .immg-row {
    width: 45%;
    height: 30%;
    transition: var(--transition);
    position: relative;
    height: auto;
    transform: scale(1.2);
    transition: var(--transition);
  }

  .immg-row:hover {
    transform: scale(2.4);
    transition: var(--transition);
  }

  /* ? ini buat yang dikiri */
  .immg-roww {
    width: 45%;
    height: 300px;
    transition: var(--transition);
    position: relative;
    height: auto;
    transform: scale(1.2);
  }

  .immg-roww:hover {
    transform: scale(2.4);
    transition: var(--transition);
    margin: 10px;
  }

  .serti-font h1 {
    color: white;
    font-size: 15px;
  }

  .serti-font {
    display: flex;
    align-items: center;
  }

  .coursera-right {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .coursera-right:hover {
    transform: scale(1.2);
    transition: var(--transition);
    padding: 0 100px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding left 2 ================= */
  .Left-1 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .Left-1:hover {
    transform: scale(1.2);
    transition: var(--transition);
    padding: 0 100px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding right 3 ================= */
  .right-2 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .right-2:hover {
    transform: scale(1.2);
    transition: var(--transition);
    padding: 0 100px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding left 4 ================= */
  .left-3 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .left-3:hover {
    transform: scale(1.2);
    transition: var(--transition);
    padding: 0 100px;
    background-color: black;
    border-radius: 25px;
  }

  /* * ================= Dicoding right 5 ================= */
  .right-4 {
    background-color: #254797;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
    align-items: center;
    transform: scale(0.6);
    transition: var(--transition);
  }

  .right-4:hover {
    transform: scale(1.2);
    transition: var(--transition);
    padding: 0 100px;
    background-color: black;
    border-radius: 25px;
  }
}

@media screen and (max-width: 425px) {
  .sertif {
    padding-top: 20px;
    background-color: var(--color-bg1);
    height: 200vh;
  }

  .sertif-title h1 {
    color: white;
    text-align: center;
    font-size: 45px;
  }

  .sertif-title p {
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 15px;
  }

  .sertif-title {
    padding-bottom: 30px;
  }

  .sertif-content {
    height: 70vh;
  }

  .immg-row {
    width: 50%;
    height: 30%;
    position: relative;
    height: auto;
    transform: scale(1.6);
  }

  .immg-row:hover {
    transform: scale(1.6);
    margin: 0px;
    pointer-events: none;
  }

  /* ? ini buat yang dikiri */
  .immg-roww {
    width: 50%;
    height: 300px;
    position: relative;
    height: auto;
    margin-top: 15px;
    transform: scale(1.6);
  }

  .immg-roww:hover {
    transform: scale(1.6);
    margin: 0px;
    pointer-events: none;
  }

  .serti-font h1 {
    color: white;
    font-size: 15px;
    display: none;
  }

  .serti-font {
    display: flex;
    align-items: center;
  }

  .coursera-right {
    background-color: black;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;
    padding: 30px;
    margin-top: 0px;
    align-items: center;
    transform: scale(1);
  }

  .coursera-right:hover {
    transform: scale(1);
    padding: 30px;
    background-color: black;
    border-radius: 0px;
    pointer-events: none;
  }

  /* * ================= Dicoding left 2 ================= */
  .Left-1 {
    background-color: black;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;
    align-items: center;
    padding: 30px;
    margin-top: 0px;
    transform: scale(1);
  }

  .Left-1:hover {
    transform: scale(1);
    padding: 30px;
    background-color: black;
    border-radius: 0px;
    height: 200px;
    pointer-events: none;
  }

  /* * ================= Dicoding right 3 ================= */
  .right-2 {
    background-color: black;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;
    padding: 30px;
    margin-top: 0px;
    align-items: center;
    transform: scale(1);
  }

  .right-2:hover {
    transform: scale(1);
    padding: 30px;
    background-color: black;
    border-radius: 0px;
    height: 200px;
    pointer-events: none;
  }

  /* * ================= Dicoding left 4 ================= */
  .left-3 {
    background-color: black;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;
    margin-top: 0px;
    padding: 30px;
    align-items: center;
    transform: scale(1);
  }

  .left-3:hover {
    transform: scale(1);
    padding: 30px;
    background-color: black;
    border-radius: 0px;
    pointer-events: none;
  }

  /* * ================= Dicoding right 5 ================= */
  .right-4 {
    background-color: black;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;
    margin-top: 0px;
    padding: 30px;
    align-items: center;
    transform: scale(1);
  }

  .right-4:hover {
    transform: scale(1);
    padding: 30px;
    background-color: black;
    border-radius: 0px;
    pointer-events: none;
  }

  .contenttt {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 45%;
    text-align: center;
    line-height: 50px;
  }
}

/* ? ================= End Responsive ================= */

/* ================= End My Certificate ================= */

/* ! ================= My Skill ================= */

/* TODO ini Responsive My skill */

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.skill-title h1 {
  color: white;
  font-size: large;
  font-size: 80px;
}

.skill-title p {
  color: white;
  font-size: large;
}

.showoff {
  display: flex;
  scale: 0.7;
  justify-content: center;
}

.showoff2 {
  display: flex;
  scale: 0.6;
  justify-content: center;
}

/* ? ================= Responsive ================= */

@media screen and (max-width: 1024px) {
  .skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .skill-title h1 {
    color: white;
    font-size: large;
    font-size: 80px;
  }

  .skill-title p {
    color: white;
    font-size: large;
  }

  .showoff {
    display: flex;
    scale: 0.7;
    justify-content: center;
  }

  .showoff2 {
    display: flex;
    scale: 0.6;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .skill-title h1 {
    color: white;
    font-size: large;
    font-size: 80px;
  }

  .skill-title p {
    color: white;
    font-size: large;
  }

  .showoff {
    display: flex;
    scale: 0.7;
    justify-content: center;
  }

  .showoff2 {
    display: flex;
    scale: 0.6;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .skill-title h1 {
    color: white;
    font-size: large;
    font-size: 80px;
  }

  .skill-title p {
    color: white;
    font-size: large;
  }

  .showoff {
    display: flex;
    scale: 0.4;
    justify-content: center;
  }

  .showoff2 {
    display: flex;
    scale: 0.5;
    justify-content: center;
  }
}

/* ? ================= End Responsive ================= */

/* ================= End My Skill ================= */

/* ========== FOOTER ========== */

footer {
  background-color: var(--color-nice);
  text-align: center;
  height: 60px;
  background-color: var(--color-lightblue);
}

.footer-div p {
  padding-top: 10px;
}

.all-ri {
  text-align: center;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.RII {
  color: rgb(247, 247, 247);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
}

.spppan {
  color: yellow;
}

@media screen and (max-width: 1024px) {
  footer {
    background-color: var(--color-nice);
    text-align: center;
    height: 60px;
    background-color: var(--color-lightblue);
  }

  .footer-div p {
    padding-top: 10px;
  }

  .all-ri {
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }

  .RII {
    color: rgb(247, 247, 247);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
  }

  .spppan {
    color: yellow;
  }
}

@media screen and (max-width: 768px) {
  footer {
    background-color: var(--color-nice);
    text-align: center;
    height: 60px;
    background-color: var(--color-lightblue);
  }

  .footer-div p {
    padding-top: 10px;
  }

  .all-ri {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .RII {
    color: rgb(247, 247, 247);
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
  }

  .spppan {
    color: yellow;
  }
}

@media screen and (max-width: 425px) {
  footer {
    background-color: var(--color-nice);
    text-align: center;
    height: 80px;
    background-color: var(--color-lightblue);
  }

  .footer-div p {
    padding-top: 10px;
  }

  .all-ri {
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .RII {
    color: rgb(247, 247, 247);
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
  }

  .spppan {
    color: yellow;
  }
}

/* =============== END FOOTER ================= */
